
<ion-header class="ion-no-border" color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="black"></ion-back-button>
    </ion-buttons>
    <img src="./assets/version-horizontal-small.png" >
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <form #mpForm="ngForm" action="" method="post" id="pay" name="pay" >

    <fieldset >
      <ion-list>
        <!-- <div [formGroup]="mpForm"> -->
        <ion-item>
            <ion-label color="primary" for="description">Descripción </ion-label>                        
            <ion-input type="text" name="description" [(ngModel)]="formData.description" 
            id="description" value="Ítem seleccionado" required class="form-control" ></ion-input>
           
        </ion-item>                    
        <ion-item>
            <ion-label color="primary" for="transaction_amount">Monto a pagar </ion-label>                        
            <ion-input name="transaction_amount" [(ngModel)]="formData.transaction_amount" 
            id="transaction_amount" required class="form-control" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" for="cardNumber">Número de la tarjeta </ion-label>
            <ion-input type="text" id="cardNumber"  data-checkout="cardNumber"  onSelectStart="return false" 
            onPaste="return false" onCopy="return false" onCut="return false" onDrag="return false" 
            onDrop="return false" autocomplete=off maxlength="16" minlength="15"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" for="cardholderName">Nombre y apellido</ion-label>
            <ion-input type="text" id="cardholderName" data-checkout="cardholderName" 
           ></ion-input>
        </ion-item>                                    
        <ion-item>
            <ion-label color="primary" for="cardExpirationMonth">Mes de vencimiento</ion-label>
            <ion-input type="text" id="cardExpirationMonth" data-checkout="cardExpirationMonth" 
            onselectstart="return false" onpaste="return false" onCopy="return false" 
            onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off 
            required maxlength="2" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" for="cardExpirationYear">Año de vencimiento</ion-label>
            <ion-input type="text" id="cardExpirationYear" data-checkout="cardExpirationYear" 
            onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" 
            onDrag="return false" onDrop="return false" autocomplete=off 
            required maxlength="2" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" for="securityCode">Código de seguridad</ion-label>
            <ion-input type="text" id="securityCode" data-checkout="securityCode" 
            onselectstart="return false" onpaste="return false" onCopy="return false" 
            onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off 
            required maxlength="4"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" for="installments">Cuotas</ion-label>
            <select id="installments" class="form-control" [(ngModel)]="formData.installments" 
            name="installments"  ></select>
            
        </ion-item>
        <ion-item>
          <ion-label color="primary" for="docType" >Tipo de documento</ion-label>
          <select id="docType" data-checkout="docType"></select>
          <!-- <ion-label for="docType" color="primary">Tipo de documento</ion-label>
          <ion-select id="docType" data-checkout="docType">
            <ion-select-option #options  *ngFor="let type of docType" value="{{type.id}}">{{type.name}}</ion-select-option>
          </ion-select> -->
        </ion-item>
        <ion-item>
            <ion-label color="primary" for="docNumber">Número de documento</ion-label>
            <ion-input type="text" id="docNumber" data-checkout="docNumber" required  
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" for="email">Email</ion-label>
            <ion-input type="email" id="email" name="email" [(ngModel)]="formData.email"required></ion-input>
        </ion-item>  
        <ion-input type="hidden" [(ngModel)]="formData.payment_method_id" name="payment_method_id" id="payment_method_id"></ion-input>
        <ion-button type="submit" value="Pagar" expand="full" (click)="pagar($event)" [disabled]="!mpForm.form.valid">Pagar</ion-button>
      <!-- </div> -->
      </ion-list>
    </fieldset>
    
  </form>

</ion-content>
